# MUNITIONS DROPPED

In [1]:
#column_datasource.py
import pandas as pd
from bokeh.plotting import figure, output_file, show
from bokeh.models import ColumnDataSource
from bokeh.models.tools import HoverTool

output_file('proj1_Tons_of_Bombs.html')

file = pd.read_csv('thor_wwii.csv')

In [28]:
# Narrowing search for German cities
loc = file[["TGT_LOCATION","TGT_COUNTRY","TOTAL_TONS","AC_ATTACKING"]]

In [29]:
loc.head()

  TGT_LOCATION TGT_COUNTRY  TOTAL_TONS  AC_ATTACKING
0      ELBASAN     ALBANIA         0.0          10.0
1      DURAZZO     ALBANIA         0.0           9.0
2     TEPELENE     ALBANIA         0.0           9.0
3       VALONA     ALBANIA         0.0           9.0
4       VALONA     ALBANIA         0.0           9.0

In [31]:
germ = loc[loc['TGT_COUNTRY'] =='GERMANY']

In [32]:
germ.head()

     TGT_LOCATION TGT_COUNTRY  TOTAL_TONS  AC_ATTACKING
3971       RHEINE     GERMANY         0.0          48.0
3972        EMDEN     GERMANY         0.0          48.0
3973    BRUNSWICK     GERMANY         0.0          31.0
3974    KARLSRUHE     GERMANY         0.0          31.0
3975   HELIGOLAND     GERMANY         0.0          24.0

In [33]:
#Renderers
p = figure()
p.circle(x='TOTAL_TONS', y='AC_ATTACKING', source=germ, size=10, color='red')

GlyphRenderer(id='1149', ...)

In [34]:
# Title and Axis labels
p.title.text = "Attacking Aircraft and Munitions Dropped"
p.xaxis.axis_label = "Tons of Munitions Dropped"
p.yaxis.axis_label = "Number of Attacking Aircraft"

In [35]:
hover = HoverTool()
hover.tooltips =[
    ('City','@TGT_LOCATION'),
    ('Aircraft','@AC_ATTACKING'),
    ('Tons of Munitions', '@TOTAL_TONS')
    
]

p.add_tools(hover)

show(p)