In [2]:
import pymysql
import pandas as pd
import csv

In [4]:
data = pd.read_csv('Practice.csv')
df = pd.DataFrame(data, columns=['Job #','Doc #','Borough','House #','Street Name', 'Job Type','Job Status', 'Job Status Descrp','Latest Action Date']) 
print(df)

       Job #  Doc #    Borough  House #       Street Name Job Type Job Status  \
0  110083524      2  MANHATTAN      152  WEST   57 STREET       A2          X
1  110083533      1  MANHATTAN      444  EAST   52 STREET       A2          X
2  110083542      1  MANHATTAN        2      WARDS ISLAND       A1          J
3  110083542      2  MANHATTAN        2      WARDS ISLAND       A1          J
4  110083542      3  MANHATTAN        2      WARDS ISLAND       A1          D
5  102611247      1  MANHATTAN      455    MADISON AVENUE       A2          R
6  102611283      1  MANHATTAN      255  WEST   36 STREET       A2          Q
7  103027680      1  MANHATTAN       31  WEST   19 STREET       A2          X
8  110083659      1  MANHATTAN      114  WEST   70 STREET       A2          R

                 Job Status Descrp Latest Action Date
0                       SIGNED OFF           4/8/2009
1                       SIGNED OFF           6/4/2009
2          PLAN EXAM - DISAPPROVED          2/14/2008
3          PLAN EXAM - DISAPPROVED          2/14/2008
4   APPLICATION PROCESSED - ENTIRE          2/15/2008
5  PERMIT ISSUED - ENTIRE JOB/WORK         10/17/2000
6      PERMIT ISSUED - PARTIAL JOB           6/7/2000
7                       SIGNED OFF          5/29/2013
8  PERMIT ISSUED - ENTIRE JOB/WORK           4/9/2008

In [11]:
df.dtypes

Job_num                int64
Doc_num                int64
Borough               object
House_num              int64
Street_Name           object
Job_Type              object
Job_Status            object
Job_Status_Descrp     object
Latest_Action_Date    object
dtype: object

In [7]:
for row in df.itertuples():
	print(type(row.Job #))
	cursor.execute('''''''''
				INSERT INTO hw2.dbo.practice(Job #,Doc # ,Borough,House #,Street Name, Job Type,Job_Status, Job Status Descrp,Latest Action Date)
				VALUES (?,?,?,?,?,?,?,?,?)
		a		''''''''',
					(row.Job #,
					#change
					row.Doc_num,
					row.Borough,
					row.House_num,
					row.Street_Name,
					row.Job_Type,
					row.Job_Status,
					row.Job_Status_Descrp,
					row.Latest_Action_Date
					))

SyntaxError: invalid syntax (<ipython-input-7-2752630a79a8>, line 3)