In [2]:
import numpy as np
import pandas as pd
import yfinance as yf

### DF1 Webscraping S&P Companies

In [3]:
url = 'https://en.wikipedia.org/wiki/List_of_S%26P_500_companies'
table = pd.read_html(url)
table = table[0]

In [4]:
# Selecting first 30 rows of data
df1 = table[0:30]

In [5]:
df1

,Symbol,Security,SEC filings,GICS Sector,GICS Sub-Industry,Headquarters Location,Date first added,CIK,Founded
0,MMM,3M Company,reports,Industrials,Industrial Conglomerates,"St. Paul, Minnesota",1976-08-09,66740,1902
1,ABT,Abbott Laboratories,reports,Health Care,Health Care Equipment,"North Chicago, Illinois",1964-03-31,1800,1888
2,ABBV,AbbVie Inc.,reports,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
3,ABMD,Abiomed,reports,Health Care,Health Care Equipment,"Danvers, Massachusetts",2018-05-31,815094,1981
4,ACN,Accenture,reports,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989
5,ATVI,Activision Blizzard,reports,Communication Services,Interactive Home Entertainment,"Santa Monica, California",2015-08-31,718877,2008
6,ADBE,Adobe Inc.,reports,Information Technology,Application Software,"San Jose, California",1997-05-05,796343,1982
7,AMD,Advanced Micro Devices,reports,Information Technology,Semiconductors,"Santa Clara, California",NaN,2488,1969
8,AAP,Advance Auto Parts,reports,Consumer Discretionary,Automotive Retail,"Raleigh, North Carolina",2015-07-09,1158449,1932
9,AES,AES Corp,reports,Utilities,Independent Power Producers & Energy Traders,"Arlington, Virginia",1998-10-02,874761,1981
10,AFL,Aflac,reports,Financials,Life & Health Insurance,"Columbus, Georgia",1999-05-28,4977,1955
11,A,Agilent Technologies,reports,Health Care,Health Care Equipment,"Santa Clara, California",2000-06-05,1090872,1999
12,APD,Air Products & Chemicals,reports,Materials,Industrial Gases,"Allentown, Pennsylvania",1985-04-30,2969,1940
13,AKAM,Akamai Technologies,reports,Information Technology,Internet Services & Infrastructure,"Cambridge, Massachusetts",2007-07-12,1086222,1998
14,ALK,Alaska Air Group,reports,Industrials,Airlines,"Seattle, Washington",2016-05-13,766421,1985
15,ALB,Albemarle Corporation,reports,Materials,Specialty Chemicals,"Charlotte, North Carolina",2016-07-01,915913,1994
16,ARE,Alexandria Real Estate Equities,reports,Real Estate,Office REITs,"Pasadena, California",2017-03-20,1035443,1994
17,ALXN,Alexion Pharmaceuticals,reports,Health Care,Pharmaceuticals,"Boston, Massachusetts",2012-05-25,899866,1992
18,ALGN,Align Technology,reports,Health Care,Health Care Supplies,"San Jose, California",2017-06-19,1097149,1997
19,ALLE,Allegion,reports,Industrials,Building Products,"Dublin, Ireland",2013-12-02,1579241,1908
20,LNT,Alliant Energy,reports,Utilities,Electric Utilities,"Madison, Wisconsin",2016-07-01,352541,1917
21,ALL,Allstate Corp,reports,Financials,Property & Casualty Insurance,"Northfield Township, Illinois",1995-07-13,899051,1931
22,GOOGL,Alphabet Inc. (Class A),reports,Communication Services,Interactive Media & Services,"Mountain View, California",2014-04-03,1652044,1998
23,GOOG,Alphabet Inc. (Class C),reports,Communication Services,Interactive Media & Services,"Mountain View, California",2006-04-03,1652044,1998
24,MO,Altria Group Inc,reports,Consumer Staples,Tobacco,"Richmond, Virginia",1957-03-04,764180,1985
25,AMZN,Amazon.com Inc.,reports,Consumer Discretionary,Internet & Direct Marketing Retail,"Seattle, Washington",2005-11-18,1018724,1994
26,AMCR,Amcor plc,reports,Materials,Paper Packaging,"Warmley, Bristol, United Kingdom",2019-06-07,1748790,2019 (1860)
27,AEE,Ameren Corp,reports,Utilities,Multi-Utilities,"St. Louis, Missouri",1991-09-19,1002910,1902
28,AAL,American Airlines Group,reports,Industrials,Airlines,"Fort Worth, Texas",2015-03-23,6201,1934
29,AEP,American Electric Power,reports,Utilities,Electric Utilities,"Columbus, Ohio",1957-03-04,4904,1906

### DF2 Using API Information

In [6]:
# Using Yahoo Finance API to store company stock data

In [7]:
# Selecting the 'Symbol' column and converting to a list
symbol = df1['Symbol'].tolist()
symbol

['MMM',
 'ABT',
 'ABBV',
 'ABMD',
 'ACN',
 'ATVI',
 'ADBE',
 'AMD',
 'AAP',
 'AES',
 'AFL',
 'A',
 'APD',
 'AKAM',
 'ALK',
 'ALB',
 'ARE',
 'ALXN',
 'ALGN',
 'ALLE',
 'LNT',
 'ALL',
 'GOOGL',
 'GOOG',
 'MO',
 'AMZN',
 'AMCR',
 'AEE',
 'AAL',
 'AEP']

In [8]:
df2 = yf.download(tickers=symbol, period='10d', interval='1d')

[*********************100%***********************]  30 of 30 completed

In [9]:
df2 = df2['Open'].T

In [10]:
open1 = "Open"
df2['Info'] = open1

In [11]:
df1insert = df1[['Security','Symbol']].sort_values(by=['Symbol'],ascending=True)

In [12]:
type(df1insert)

pandas.core.frame.DataFrame

In [13]:
type(df2)

pandas.core.frame.DataFrame

In [14]:
df1insert.reset_index(drop=True,inplace=True)
df2.reset_index(drop=True,inplace=True)

In [15]:
df3open = pd.concat([df1insert,df2],axis=1)

In [16]:
df3open

,Security,Symbol,2021-05-11 00:00:00,2021-05-12 00:00:00,2021-05-13 00:00:00,2021-05-14 00:00:00,2021-05-17 00:00:00,2021-05-18 00:00:00,2021-05-19 00:00:00,2021-05-20 00:00:00,2021-05-21 00:00:00,2021-05-24 00:00:00,Info
0,Agilent Technologies,A,130.270004,130.339996,129.610001,130.470001,130.839996,129.949997,127.599998,130.610001,132.669998,133.509995,Open
1,American Airlines Group,AAL,21.070000,21.360001,20.879999,21.430000,22.320000,23.540001,22.969999,23.180000,22.709999,22.850000,Open
2,Advance Auto Parts,AAP,207.929993,204.750000,201.270004,205.759995,203.910004,204.619995,199.029999,194.699997,197.520004,194.919998,Open
3,AbbVie Inc.,ABBV,115.480003,114.849998,115.550003,117.360001,116.769997,116.110001,116.459999,115.339996,117.519997,116.589996,Open
4,Abiomed,ABMD,279.119995,276.589996,274.750000,266.279999,266.119995,266.720001,267.440002,276.410004,276.399994,282.649994,Open
5,Abbott Laboratories,ABT,118.860001,117.169998,117.000000,117.989998,118.000000,116.720001,116.160004,116.550003,118.230003,118.040001,Open
6,Accenture,ACN,288.440002,285.230011,281.119995,286.859985,287.640015,285.809998,279.929993,281.700012,285.000000,285.200012,Open
7,Adobe Inc.,ADBE,471.029999,477.190002,478.010010,481.630005,487.029999,484.630005,473.019989,483.679993,494.190002,494.640015,Open
8,Ameren Corp,AEE,85.839996,83.620003,82.209999,83.720001,83.809998,83.220001,83.870003,84.370003,84.550003,85.339996,Open
9,American Electric Power,AEP,87.580002,86.290001,85.000000,86.919998,86.470001,85.879997,85.589996,85.860001,86.610001,87.059998,Open
10,AES Corp,AES,25.280001,25.180000,24.830000,24.650000,25.139999,25.260000,24.510000,25.000000,25.490000,25.610001,Open
11,Aflac,AFL,56.230000,55.529999,54.189999,55.770000,56.259998,55.919998,55.459999,55.750000,55.849998,56.209999,Open
12,Akamai Technologies,AKAM,109.339996,110.720001,111.589996,111.500000,113.580002,112.660004,111.459999,113.699997,113.199997,113.529999,Open
13,Albemarle Corporation,ALB,155.649994,158.500000,158.050003,159.130005,162.500000,158.949997,155.000000,156.660004,159.440002,160.550003,Open
14,Align Technology,ALGN,539.909973,553.419983,557.580017,562.549988,562.099976,567.099976,557.419983,575.000000,594.099976,596.900024,Open
15,Alaska Air Group,ALK,65.300003,65.230003,65.400002,68.080002,69.199997,72.000000,69.290001,69.879997,68.879997,68.430000,Open
16,Allstate Corp,ALL,134.770004,134.960007,132.160004,137.740005,138.750000,138.279999,136.550003,135.100006,136.389999,137.419998,Open
17,Allegion,ALLE,141.649994,139.550003,135.800003,139.589996,139.529999,138.979996,135.529999,138.240005,138.240005,138.000000,Open
18,Alexion Pharmaceuticals,ALXN,170.929993,172.000000,172.059998,173.589996,173.789993,175.000000,175.289993,176.110001,178.070007,178.199997,Open
19,Amcor plc,AMCR,12.450000,12.370000,12.120000,12.380000,12.380000,12.240000,12.130000,11.950000,11.990000,12.060000,Open
20,Advanced Micro Devices,AMD,73.570000,75.089996,75.209999,74.019997,74.220001,74.739998,73.160004,76.809998,78.550003,77.260002,Open
21,Amazon.com Inc.,AMZN,3136.280029,3185.000000,3185.469971,3185.560059,3245.929932,3292.580078,3195.000000,3244.399902,3250.000000,3215.500000,Open
22,Air Products & Chemicals,APD,292.600006,298.429993,293.140015,301.500000,301.000000,300.890015,297.670013,297.940002,298.149994,300.459991,Open
23,Alexandria Real Estate Equities,ARE,178.699997,176.559998,172.679993,172.839996,173.990005,172.360001,173.130005,172.669998,174.910004,175.529999,Open
24,Activision Blizzard,ATVI,93.660004,94.279999,93.470001,94.400002,92.680000,92.550003,92.269997,94.639999,96.970001,95.930000,Open
25,Alphabet Inc. (Class C),GOOG,2291.860107,2261.709961,2261.090088,2291.830078,2309.320068,2336.906006,2264.399902,2328.040039,2365.989990,2367.000000,Open
26,Alphabet Inc. (Class A),GOOGL,2243.070068,2226.189941,2226.120117,2258.540039,2263.570068,2302.350098,2228.429932,2291.000000,2317.409912,2314.889893,Open
27,Alliant Energy,LNT,57.980000,56.919998,55.689999,57.020000,57.090000,57.590000,57.570000,57.720001,57.490002,58.380001,Open
28,3M Company,MMM,206.600006,203.589996,198.639999,204.000000,204.600006,204.990005,201.910004,201.089996,201.710007,202.800003,Open
29,Altria Group Inc,MO,50.680000,50.720001,49.169998,50.369999,50.250000,50.119999,49.529999,49.400002,50.189999,50.119999,Open

In [17]:
print(df3open)

                           Security Symbol  2021-05-11 00:00:00  \
0              Agilent Technologies      A           130.270004
1           American Airlines Group    AAL            21.070000
2                Advance Auto Parts    AAP           207.929993
3                       AbbVie Inc.   ABBV           115.480003
4                           Abiomed   ABMD           279.119995
5               Abbott Laboratories    ABT           118.860001
6                         Accenture    ACN           288.440002
7                        Adobe Inc.   ADBE           471.029999
8                       Ameren Corp    AEE            85.839996
9           American Electric Power    AEP            87.580002
10                         AES Corp    AES            25.280001
11                            Aflac    AFL            56.230000
12              Akamai Technologies   AKAM           109.339996
13            Albemarle Corporation    ALB           155.649994
14                 Align Technology   ALGN           539.909973
15                 Alaska Air Group    ALK            65.300003
16                    Allstate Corp    ALL           134.770004
17                         Allegion   ALLE           141.649994
18          Alexion Pharmaceuticals   ALXN           170.929993
19                        Amcor plc   AMCR            12.450000
20           Advanced Micro Devices    AMD            73.570000
21                  Amazon.com Inc.   AMZN          3136.280029
22         Air Products & Chemicals    APD           292.600006
23  Alexandria Real Estate Equities    ARE           178.699997
24              Activision Blizzard   ATVI            93.660004
25          Alphabet Inc. (Class C)   GOOG          2291.860107
26          Alphabet Inc. (Class A)  GOOGL          2243.070068
27                   Alliant Energy    LNT            57.980000
28                       3M Company    MMM           206.600006
29                 Altria Group Inc     MO            50.680000

    2021-05-12 00:00:00  2021-05-13 00:00:00  2021-05-14 00:00:00  \
0            130.339996           129.610001           130.470001
1             21.360001            20.879999            21.430000
2            204.750000           201.270004           205.759995
3            114.849998           115.550003           117.360001
4            276.589996           274.750000           266.279999
5            117.169998           117.000000           117.989998
6            285.230011           281.119995           286.859985
7            477.190002           478.010010           481.630005
8             83.620003            82.209999            83.720001
9             86.290001            85.000000            86.919998
10            25.180000            24.830000            24.650000
11            55.529999            54.189999            55.770000
12           110.720001           111.589996           111.500000
13           158.500000           158.050003           159.130005
14           553.419983           557.580017           562.549988
15            65.230003            65.400002            68.080002
16           134.960007           132.160004           137.740005
17           139.550003           135.800003           139.589996
18           172.000000           172.059998           173.589996
19            12.370000            12.120000            12.380000
20            75.089996            75.209999            74.019997
21          3185.000000          3185.469971          3185.560059
22           298.429993           293.140015           301.500000
23           176.559998           172.679993           172.839996
24            94.279999            93.470001            94.400002
25          2261.709961          2261.090088          2291.830078
26          2226.189941          2226.120117          2258.540039
27            56.919998            55.689999            57.020000
28           203.589996           198.639999           204.000000
29            50.720001            49.169998            50.369999

    2021-05-17 00:00:00  2021-05-18 00:00:00  2021-05-19 00:00:00  \
0            130.839996           129.949997           127.599998
1             22.320000            23.540001            22.969999
2            203.910004           204.619995           199.029999
3            116.769997           116.110001           116.459999
4            266.119995           266.720001           267.440002
5            118.000000           116.720001           116.160004
6            287.640015           285.809998           279.929993
7            487.029999           484.630005           473.019989
8             83.809998            83.220001            83.870003
9             86.470001            85.879997            85.589996
10            25.139999            25.260000            24.510000
11            56.259998            55.919998            55.459999
12           113.580002           112.660004           111.459999
13           162.500000           158.949997           155.000000
14           562.099976           567.099976           557.419983
15            69.199997            72.000000            69.290001
16           138.750000           138.279999           136.550003
17           139.529999           138.979996           135.529999
18           173.789993           175.000000           175.289993
19            12.380000            12.240000            12.130000
20            74.220001            74.739998            73.160004
21          3245.929932          3292.580078          3195.000000
22           301.000000           300.890015           297.670013
23           173.990005           172.360001           173.130005
24            92.680000            92.550003            92.269997
25          2309.320068          2336.906006          2264.399902
26          2263.570068          2302.350098          2228.429932
27            57.090000            57.590000            57.570000
28           204.600006           204.990005           201.910004
29            50.250000            50.119999            49.529999

    2021-05-20 00:00:00  2021-05-21 00:00:00  2021-05-24 00:00:00  Info
0            130.610001           132.669998           133.509995  Open
1             23.180000            22.709999            22.850000  Open
2            194.699997           197.520004           194.919998  Open
3            115.339996           117.519997           116.589996  Open
4            276.410004           276.399994           282.649994  Open
5            116.550003           118.230003           118.040001  Open
6            281.700012           285.000000           285.200012  Open
7            483.679993           494.190002           494.640015  Open
8             84.370003            84.550003            85.339996  Open
9             85.860001            86.610001            87.059998  Open
10            25.000000            25.490000            25.610001  Open
11            55.750000            55.849998            56.209999  Open
12           113.699997           113.199997           113.529999  Open
13           156.660004           159.440002           160.550003  Open
14           575.000000           594.099976           596.900024  Open
15            69.879997            68.879997            68.430000  Open
16           135.100006           136.389999           137.419998  Open
17           138.240005           138.240005           138.000000  Open
18           176.110001           178.070007           178.199997  Open
19            11.950000            11.990000            12.060000  Open
20            76.809998            78.550003            77.260002  Open
21          3244.399902          3250.000000          3215.500000  Open
22           297.940002           298.149994           300.459991  Open
23           172.669998           174.910004           175.529999  Open
24            94.639999            96.970001            95.930000  Open
25          2328.040039          2365.989990          2367.000000  Open
26          2291.000000          2317.409912          2314.889893  Open
27            57.720001            57.490002            58.380001  Open
28           201.089996           201.710007           202.800003  Open
29            49.400002            50.189999            50.119999  Open

In [18]:
df3open.describe()

,2021-05-11 00:00:00,2021-05-12 00:00:00,2021-05-13 00:00:00,2021-05-14 00:00:00,2021-05-17 00:00:00,2021-05-18 00:00:00,2021-05-19 00:00:00,2021-05-20 00:00:00,2021-05-21 00:00:00,2021-05-24 00:00:00
count,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000
mean,394.737672,395.111330,393.995340,397.782672,400.959668,404.622206,394.592660,402.116665,406.280663,405.519331
std,754.652837,757.023627,757.425387,762.379976,771.859922,783.445735,758.953811,775.822441,781.932493,777.455711
min,12.450000,12.370000,12.120000,12.380000,12.380000,12.240000,12.130000,11.950000,11.990000,12.060000
25%,76.637499,77.222498,76.959999,76.444998,76.617500,76.859999,75.837503,78.699999,80.050003,79.280001
50%,132.520004,132.650002,130.885002,134.105003,134.794998,134.114998,131.564999,132.855003,134.529999,135.464996
75%,261.322495,258.629997,256.380001,251.149998,250.739998,251.287502,251.057503,257.580002,257.727497,262.687496
max,3136.280029,3185.000000,3185.469971,3185.560059,3245.929932,3292.580078,3195.000000,3244.399902,3250.000000,3215.500000

In [19]:
df3open.to_csv(r'C:\Users\whall\Desktop\PY FOLDER\CIS PYTHON FOLDER\SPRING2021 CIS3120\Project\Project 2\Project2.csv')