# MUNITIONS DROPPED

In [107]:
#column_datasource.py
import pandas as pd
from bokeh.plotting import figure, output_file, show
from bokeh.models import ColumnDataSource
from bokeh.models.tools import HoverTool

output_file('proj1_Tons_of_Bombs_year.html')

df = pd.read_csv('thor_wwii.csv')

In [108]:
# Narrowing search for German cities
loc = df[["MSNDATE","TGT_LOCATION","TGT_COUNTRY","TOTAL_TONS","AC_ATTACKING"]]

In [109]:
loc.head()

      MSNDATE TGT_LOCATION TGT_COUNTRY  TOTAL_TONS  AC_ATTACKING
0  03/30/1941      ELBASAN     ALBANIA         0.0          10.0
1  11/24/1940      DURAZZO     ALBANIA         0.0           9.0
2  12/04/1940     TEPELENE     ALBANIA         0.0           9.0
3  12/31/1940       VALONA     ALBANIA         0.0           9.0
4  01/06/1941       VALONA     ALBANIA         0.0           9.0

In [112]:
berlin = loc[loc['TGT_LOCATION'] =='BERLIN']

In [113]:
berlin.head()

         MSNDATE TGT_LOCATION TGT_COUNTRY  TOTAL_TONS  AC_ATTACKING
3988  02/05/1944       BERLIN     GERMANY         0.0          10.0
3989  02/10/1944       BERLIN     GERMANY         0.0          10.0
4018  10/01/1939       BERLIN     GERMANY         0.0           4.0
4049  10/15/1939       BERLIN     GERMANY         0.0           2.0
4061  08/30/1940       BERLIN     GERMANY         0.0           2.0

In [114]:
source=ColumnDataSource(berlin)

In [123]:
#Renderers
p = figure()
p.circle(x= berlin['1942'], y='TOTAL_TONS', source=source, size=10, color='red')

KeyError: '1942'

In [116]:
# Title and Axis labels
p.title.text = "Attacking Aircraft and Munitions Dropped 1939"
p.xaxis.axis_label = "Tons of Munitions Dropped"
p.yaxis.axis_label = "Number of Attacking Aircraft"

In [117]:
hover = HoverTool()
hover.tooltips =[
    ('City','@TGT_LOCATION'),
    ('Aircraft','@AC_ATTACKING'),
    ('Tons of Munitions', '@TOTAL_TONS'),
    ('Date', 'MSNDATE')
    
]

p.add_tools(hover)

show(p)

In [ ]:
#split date
df['MSNDATE'] = pd.to_datetime(df['MSNDATE'])
df.set_index('MSNDATE',inplace=True)